@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.login .container {
    display: flex;
    margin-top: 2%;
    /* margin-right: 0%; */
    /* margin-left: 0%; */
}
.login .title{
    color: #3B5999;
    font-weight: bold;
}
.login .container1{
    width: 40%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.login .container2{
    width: 60%;
    display: inline-block;
    text-align: center;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}

.login .btn{
    background-color: #3B5999;
    color: #FFFFFF;
    font-weight: bold;
}

.login .container1 img{
    width: 100%;
    height: 100%;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus,
select:focus{
    border: 3px #3B5999 solid;
    box-shadow: none;
}

.image-login-page
    {
        width: 30%;
    }

@media only screen and (min-width: 700px) {
    .image-login-page
    {
        width: 100%;
    }
}