.key-benefits-content
{
    color: #fff;
   
}

.benefit-section-heading
{
    margin-bottom: 30px;
}

.benefit-cell
{
    border: 1px solid black;
    /* margin:10px; */
    background-color: #3B5999;
}

.benefit-cell-heading
{
    margin-bottom: 10px;
}

.doing-what
{
    position:relative;
    margin-bottom: 3%;
}

.doing-what-details
{
    position:absolute;
    top: 35%;
    color: #fff;
    left: 20%;

}

.para-details
{
    padding-right: 50%;
    justify-content: baseline;
    margin-top: 2%;
}

.cow-img
{
    padding: 0% 10%;
}

